<h1>Status</h1>

<% if !@negative || !@positive %>
  <p> Still processing </p>
<% else %>
  <p> Fully bootstrapped </p>
<% end %>

<form action='/sentiment' method='POST'>
  <textarea name='text_blob'></textarea>
  <input type='submit'>
</form>

<a href='/random_negative' class='btn btn-primary'>Random Negative Review</a>
<a href='/random_positive' class='btn btn-primary'>Random Positive Review</a>