<% if !SentimentModel.trained? %>
  <p class='alert alert-warning'> Still training and building SVM </p>
<% else %>
  <p class='alert alert-info'> Model done processing </p>
<% end %>

<form action='/sentiment' method='POST'>
  <textarea name='text_blob'></textarea>
  <input type='submit'>
</form>

<a href='/random_negative' class='btn btn-primary'>Random Negative Review</a>
<a href='/random_positive' class='btn btn-primary'>Random Positive Review</a>