<script language="JavaScript">
  $(document).ready(function() {
    $("#webcam").scriptcam({
      showMicrophoneErrors:false,
      onError:onError,
      cornerRadius:20,
      cornerColor:'e3e5e2',
      onWebcamReady:onWebcamReady,
      uploadImage:'upload.gif',
      onPictureAsBase64:base64_tofield_and_image
    });
  });
  function base64_tofield() {
    $('#formfield').val($.scriptcam.getFrameAsBase64());
    base64_toimage();
  };
  function base64_toimage() {
    $('#image').attr("src","data:image/png;base64,"+$.scriptcam.getFrameAsBase64());
  };
  function base64_tofield_and_image(b64) {
    $('#formfield').val(b64);
    $('#image').attr("src","data:image/png;base64,"+b64);
  };
  function changeCamera() {
    $.scriptcam.changeCamera($('#cameraNames').val());
  }
  function onError(errorId,errorMsg) {
    $( "#btn1" ).attr( "disabled", true );
    $( "#btn2" ).attr( "disabled", true );
    alert(errorMsg);
  }
  function onWebcamReady(cameraNames,camera,microphoneNames,microphone,volume) {
    $.each(cameraNames, function(index, text) {
      $('#cameraNames').append( $('<option></option>').val(index).html(text) )
    });
    $('#cameraNames').val(camera);
  }
</script>

<div style="width:330px;float:left;">
  <div id="webcam">
  </div>
  <div style="margin:5px;">
    <img src="webcamlogo.png" style="vertical-align:text-top"/>
    <select id="cameraNames" size="1" onChange="changeCamera()" style="width:245px;font-size:10px;height:25px;">
    </select>
  </div>
</div>
<div style="width:135px;float:left;">
  <p><button class="btn btn-small" id="btn1" onclick="base64_tofield()">Take a snapshot</button></p>
</div>
<div style="width:200px;float:left;">
  <form action='/similar_face' method='post'>
    <p><textarea name='base64image' id="formfield" style="width:190px;height:70px;"></textarea></p>
    <p><img id="image" style="width:200px;height:153px;"/></p>
    <input type='submit'/>
  </form>
</div>